apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    component: "alertmanager"
    app: prometheus
    release: mds-mds
  name: alertmanager
  namespace: {{ prometheus_stack_namespace }}
spec:
  selector:
    matchLabels:
      component: "alertmanager"
      app: prometheus
      release: mds-mds
  replicas: 1
  template:
    metadata:
      labels:
        component: "alertmanager"
        app: prometheus
        release: mds-mds
        chart: prometheus-9.3.1
        heritage: Tiller
    spec:
      serviceAccountName: alertmanager
      containers:
        - name: prometheus-alertmanager
          image: {{ alertmanager_image }}
          imagePullPolicy: "IfNotPresent"
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
          args:
            - --config.file=/etc/config/alertmanager.yml
            - --storage.path=/data
            - --cluster.advertise-address=$(POD_IP):6783
            - --web.external-url=/
          ports:
            - containerPort: 9093
          readinessProbe:
            httpGet:
              path: /#/status
              port: 9093
            initialDelaySeconds: 30
            timeoutSeconds: 30
          resources:
            limits:
              cpu: 20m
              memory: 40Mi
            requests:
              cpu: 10m
              memory: 20Mi

          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: storage-volume
              mountPath: "/data"
              subPath: ""
        - name: prometheus-alertmanager-ac
          image: {{ alertmanager_ac_image }}
          imagePullPolicy: "IfNotPresent"
          args:
            - reload
            - --volume-dir=/etc/config
            - --webhook-url=http://127.0.0.1:9093/-/reload
          resources:
            limits:
              cpu: 20m
              memory: 40Mi
            requests:
              cpu: 10m
              memory: 20Mi

          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true
      imagePullSecrets:
        - name: {{ image_pull_secret }}
      nodeSelector:
        {{ alertmanager_nodeselector_key }}: {{ alertmanager_nodeselector_value }}

      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
      tolerations:
        - key: {{ alertmanager_tolerate_key }}
          operator: Exists

      volumes:
        - name: config-volume
          configMap:
            name: alertmanager
        - name: storage-volume
          persistentVolumeClaim:
            claimName: alertmanager

