apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    component: "server"
    app: prometheus
    release: mds-mds
    chart: prometheus-9.3.1
    heritage: Tiller
  name: prometheus
  namespace: {{ prometheus_stack_namespace }}
spec:
  serviceName: prometheus-headless
  selector:
    matchLabels:
      component: "server"
      app: prometheus
      release: mds-mds
  replicas: 1
  podManagementPolicy: OrderedReady
  template:
    metadata:
      labels:
        component: "server"
        app: prometheus
        release: mds-mds
    spec:
      serviceAccountName: prometheus
      tolerations:
        - key: {{ prometheus_tolerate_key }}
          operator: Exists
      containers:
        - name: prometheus-server-ac
          image: {{ prometheus_ac_image }}
          imagePullPolicy: "IfNotPresent"
          args:
            - serve
            - --webhook-url=http://127.0.0.1:9090/-/reload
            - --alert-file=/etc/alerts.d/alerts.yaml
            - --job-file=/etc/alerts.d/jobs.yaml
          resources:
            {}

          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
              readOnly: true
            - name: storage-volume
              mountPath: /etc/alerts.d
              subPath: config
        - name: prometheus-server
          image: {{ prometheus_image }}
          imagePullPolicy: "IfNotPresent"
          args:
            - --storage.tsdb.retention.time=5d
            - --config.file=/etc/config/prometheus.yml
            - --storage.tsdb.path=/data
            - --web.console.libraries=/etc/prometheus/console_libraries
            - --web.console.templates=/etc/prometheus/consoles
            - --web.enable-lifecycle
          ports:
            - containerPort: 9090
            - containerPort: 9533
              name: reload
          readinessProbe:
            httpGet:
              path: /-/ready
              port: 9090
            initialDelaySeconds: 30
            timeoutSeconds: 30
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: 9090
            initialDelaySeconds: 30
            timeoutSeconds: 30
          resources:
            limits:
              cpu: 8000m
              memory: 16Gi
            requests:
              cpu: 4000m
              memory: 8000Mi

          volumeMounts:
            - name: config-volume
              mountPath: /etc/config
            - name: storage-volume
              mountPath: /data
              subPath: ""
      imagePullSecrets:
        - name: {{ image_pull_secret }}
      nodeSelector:
        {{ prometheus_nodeselector_key }}: {{ prometheus_nodeselector_value }}
      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
      terminationGracePeriodSeconds: 300
      volumes:
        - name: config-volume
          configMap:
            name: mds-prom-server-config
  volumeClaimTemplates:
    - metadata:
        name: storage-volume
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "50Gi"
        storageClassName: prometheus-storage

