apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-exporter
  namespace: {{ exporter_namespace }}
  annotations:
    prometheus.io/port: "9419"
    prometheus.io/scrape: "true"
  labels:
    app.kubernetes.io/name: rabbitmq-exporter
    category: BigData
    env: {{ env }}
    group: {{ rabbitmq_group }}
    projectCode: {{ rabbitmq_projectCode }}
    type: Rabbitmq
spec:
  type: ClusterIP
  ports:
  - name: metrics
    port: 9419
    targetPort: metrics
  selector:
    app.kubernetes.io/name: rabbitmq-exporter

