apiVersion: v1
kind: Service
metadata:
  name: redis-exporter-<ip.last>
  namespace: {{ exporter_namespace }}
  annotations:
    prometheus.io/port: "9121"
    prometheus.io/scrape: "true"
  labels:
    app.kubernetes.io/name: redis-exporter-{{ redis_ip }}
    category: DataBase
    instance: {{ redis_ip }}
    env: {{ env }}
    group: {{ group }}
    projectCode: {{ projectCode }}
    type: Redis
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9121
      targetPort: metrics
  selector:
    app.kubernetes.io/name: redis-exporter-{{ redis_ip }}

