apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    component: "node-exporter"
    app: prometheus
    release: mds-mds
    chart: prometheus-9.3.1
    heritage: Tiller
  name: mds-mds-prometheus-node-exporter
  namespace: {{ exporter_namespace }}
spec:
  selector:
    matchLabels:
      component: "node-exporter"
      app: prometheus
      release: mds-mds
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        component: "node-exporter"
        app: prometheus
        release: mds-mds
        chart: prometheus-9.3.1
        heritage: Tiller
    spec:
      serviceAccountName: mds-mds-prometheus-node-exporter
      containers:
        - name: prometheus-node-exporter
          image: "prom/node-exporter:v0.18.0"
          imagePullPolicy: "IfNotPresent"
          args:
            - --path.procfs=/host/proc
            - --path.sysfs=/host/sys
          ports:
            - name: metrics
              containerPort: 9100
              hostPort: 9100
          resources:
            limits:
              cpu: 50m
              memory: 100Mi
            requests:
              cpu: 10m
              memory: 20Mi
          volumeMounts:
            - name: proc
              mountPath: /host/proc
              readOnly:  true
            - name: sys
              mountPath: /host/sys
              readOnly: true
      imagePullSecrets:
        - name: regsecret

      tolerations:
      - key: node-role.kubernetes.io/controlplane
        operator: Exists
      - key: node-role.kubernetes.io/etcd
        operator: Exists
      - key: mds
        operator: Exists

      hostNetwork: true
      hostPID: true
      volumes:
        - name: proc
          hostPath:
            path: /proc
        - name: sys
          hostPath:
            path: /sys

